<div class="row" ng-repeat="church in churches">
    <div class="col-md-2">
        <img ng-src="{{ church.Gallery.Thumb }}" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-10">
        <h4>{{ church.Description }}</h4>
    </div>
    <div class="col-md-8">
        <div class="col-md-1">
            <strong>Dom</strong>
            <p ng-repeat="item in Sunday">item</p>
        </div>
        <div class="col-md-1">
            <strong>Seg</strong>
            <p ng-repeat="item in Monday">item</p>
        </div>
        <div class="col-md-1">
            <strong>Ter</strong>
            <p ng-repeat="item in Tuesday">item</p>
        </div>
        <div class="col-md-1">
            <strong>Qua</strong>
            <p ng-repeat="item in Wednesday">item</p>
        </div>
        <div class="col-md-1">
            <strong>Qui</strong>
            <p ng-repeat="item in Thursday">item</p>
        </div>
        <div class="col-md-1">
            <strong>Sex</strong>
            <p ng-repeat="item in Friday">item</p>
        </div>
        <div class="col-md-1">
            <strong>Sáb</strong>
            <p ng-repeat="item in Saturday">item</p>
        </div>
    </div>
</div>