<app-masstime [items]="masstimes"></app-masstime>

<clr-datagrid class="datagrid-compact" style="min-height: 35%">
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>
        Nome
        <clr-dg-string-filter [clrDgStringFilter]="cityFilter"></clr-dg-string-filter>
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let city of cities" [clrDgItem]="city">
        <clr-dg-cell>{{city.id}}</clr-dg-cell>
        <clr-dg-cell>{{city.description}}</clr-dg-cell>
        <app-neighborhood *clrIfExpanded [cityId]="city.id" ngProjectAs="clr-dg-row-detail" (OnSelected)="SetNeighborhood($event)"></app-neighborhood>
    </clr-dg-row>

    <clr-dg-footer>{{cities.length}} Cidades</clr-dg-footer>
</clr-datagrid>
