<h1>
  Encontre aqui a sua missa
</h1>
<h3>
  Aqui você encontra os horários das missas em várias localidades.
  Só estão contempladas as missas com frequência semanal.
  Dependendo dos dados disponíveis, é possível pesquisar por cidade ou nome da Paróquia.
</h3>
<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-12">
    <h2>Documentos</h2>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="http://www.vatican.va/content/pius-xii/pt/encyclicals/documents/hf_p-xii_enc_20111947_mediator-dei.html" class="card clickable">
      <div class="card-header">Mediator Dei</div>
      <div class="card-block">
        <p class="card-text">
          Carta Encíclica de Pio XII sobre a Sagrada Liturgia, de 20.11.1947.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="http://www.vatican.va/archive/hist_councils/ii_vatican_council/documents/vat-ii_const_19631204_sacrosanctum-concilium_po.html" class="card clickable">
      <div class="card-header">Sacrosanctum Concilium</div>
      <div class="card-block">
        <p class="card-text">
          Constituição Conciliar (Concílio Vaticano II) sobre a Sagrada Liturgia, de 04.12.1963.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="http://www.vatican.va/holy_father/paul_vi/encyclicals/documents/hf_p-vi_enc_03091965_mysterium_po.html" class="card clickable">
      <div class="card-header">Mysterium Fidei</div>
      <div class="card-block">
        <p class="card-text">
          Carta Encíclica de Paulo VI sobre o culto da Sagrada Eucaristia, de 03.09.1965.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="https://www.veritatis.com.br/inaestimabile-donum/" class="card clickable">
      <div class="card-header">Inaestimabile Donum</div>
      <div class="card-block">
        <p class="card-text">
          Instrução da Sagrada Congregação para os Sacramentos e Culto Divino, de 03.04.1980.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="http://www.vatican.va/holy_father/special_features/encyclicals/documents/hf_jp-ii_enc_20030417_ecclesia_eucharistia_po.html" class="card clickable">
      <div class="card-header">Ecclesia de Eucharistia</div>
      <div class="card-block">
        <p class="card-text">
          Carta Encíclica de João Paulo II, sobre a Eucaristia na sua relação com a Igreja, de 17.04.2003.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="http://ahoradamissa.com/doc_redemptionis.html" class="card clickable">
      <div class="card-header">Redemptionis Sacramentum</div>
      <div class="card-block">
        <p class="card-text">
          Instrução da Congregação para o Culto Divino e a Disciplina dos Sacramentos, sobre algumas coisas que se devem observar e evitar acerca da Santíssima Eucaristia, de 25.03.2004.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="https://w2.vatican.va/content/john-paul-ii/pt/apost_letters/2004/documents/hf_jp-ii_apl_20041008_mane-nobiscum-domine.html" class="card clickable">
      <div class="card-header">Mane Nobiscum Domine</div>
      <div class="card-block">
        <p class="card-text">
          Carta Apostólica de João Paulo II, para o Ano da Eucaristia, de 07.10.2004.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="http://www.vatican.va/holy_father/benedict_xvi/apost_exhortations/documents/hf_ben-xvi_exh_20070222_sacramentum-caritatis_po.html" class="card clickable">
      <div class="card-header">Sacramentum Caritatis</div>
      <div class="card-block">
        <p class="card-text">
          Exortação Apostólica Pós-Sinodal de Bento XVI, sobre a Eucaristia fonte e ápice da vida e da missão da Igreja, de 22.02.2007.
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <a target="_blank" href="http://w2.vatican.va/content/benedict-xvi/pt/letters/2007/documents/hf_ben-xvi_let_20070707_lettera-vescovi.html" class="card clickable">
      <div class="card-header">Summorum Pontificum</div>
      <div class="card-block">
        <p class="card-text">
          Carta Apostólica em forma de Motu Proprio de Bento XVI, sobre o uso da liturgia romana anterior à reforma de 1970, de 07.07.2007.
        </p>
      </div>
    </a>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-12">
    <h2>Livros</h2>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <div class="card-block">
        <p class="card-text" style="text-align:center">
          <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=masstimes0d-20&marketplace=amazon&region=BR&placement=8584910182&asins=8584910182&linkId=5afa1bfd0e28df5e2a8f6a69b012914c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF"></iframe>
        </p>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <div class="card-block">
        <p class="card-text" style="text-align:center">
          <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=masstimes0d-20&marketplace=amazon&region=BR&placement=8584911332&asins=8584911332&linkId=c82e1f52c8bd98e0c47bee06a120b3fe&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
        </p>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <div class="card-block">
        <p class="card-text" style="text-align:center">
          <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=masstimes0d-20&marketplace=amazon&region=BR&placement=8588158957&asins=8588158957&linkId=7da5c7b51d7b129d8b438586d22ae0b5&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
        </p>
      </div>
    </div>
  </div>
</div>
