<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link" routerLinkActive="active">
        <!-- <clr-icon shape="home" class="is-solid"></clr-icon> -->
        <img src="/assets/img/masstimeicon.svg" class="masstimeicon">
        <span class="title">{{title}}</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/cities" routerLinkActive="active" class="nav-link nav-text">Cidades</a>
      <a routerLink="/churches" routerLinkActive="active" class="nav-link nav-text">Igrejas</a>
      <a routerLink="/mass-form" routerLinkActive="active" class="nav-link nav-text">Envie os horários da sua paróquia</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
