<div class="clr-row">
  <div class="clr-col-12">
    <h3>Envie seu horário:</h3>
  </div>
  <div class="clr-col-6">
    <form clrForm clrLayout="vertical">
      <clr-input-container>
        <label>Nome da paróquia:</label>
        <input clrInput type="text" name="parishName" required />
        <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Cidade:</label>
        <input clrInput type="text" name="city" required />
        <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
      </clr-input-container>
      <clr-control-container>
        <clr-dropdown [clrCloseMenuOnItemClick]="false">
          <button class="btn btn-outline-primary" clrDropdownTrigger>
            Dia da semana
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen>
            <div clrDropdownItem>Link 1</div>
            <div clrDropdownItem>Link 2</div>
          </clr-dropdown-menu>
        </clr-dropdown>
      </clr-control-container>
      <clr-control-container>
        <button class="btn btn-primary" type="submit" (click)="submit()">Enviar</button>
      </clr-control-container>
    </form>
  </div>
</div>
